/* Increase spacing between table headers */
table th {
    padding: 20px; /* Adjust the padding to increase spacing between the header text and the top/bottom of the header cell */
}

/* Increase font size for better readability */
table th {
    font-size: 1.5rem; /* Adjust font size as needed */
}

/* Adjust spacing between content and top of the page */
.container {
    margin-top: 30px; /* Adjust margin-top value to bring content closer to the top */
}

.userTable {
    width: 100%;
    border: 1px solid black;
}

.confirmation > button,
.confirmation > input {
    width: 6em; /* Adjust button/input width as needed */
    padding: 8px; /* Adjust button/input padding as needed */
}

#deleteButton {
    background-color: red;
}

#updateButton {
    background-color: green;
    color: white;
}

.hiddenForm {
    background-color: red;
    display: none;
}
