h1{
    text-align: center;
}
#li{
    font-weight: bold;
}
.box{
    width: 1000px;
    margin: auto;
}
.body{
    background-color: #D8BFD8;
}
.approve{
    border: 1px solid #aaa; 
    border-radius: 10px; 
    padding: 8px; 
    outline: none;
    background-color: green;
    color: white;
    font-weight: bold;
}
.required_field{
    border: 1px solid #aaa; 
    border-radius: 10px; 
    padding: 8px; 
    outline: none;
}