.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.comparisonSection {
  background-color: #d6d6ff;
  border-radius: 20px;
  margin: 50px;
  padding: 30px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
}

.comparisonTable {
  border-collapse: collapse;
  width: 100%;
  border-radius: 20px;
}

.comparisonTable th,
.comparisonTable td {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

.comparisonTable th {
  background-color: #7a7aff;
}

.comparisonContent tr:nth-child(even) {
  background-color: #fffee0;
}

.compareInput {
  margin: 20px;
}

.imageCompare {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 20px;
}

.imageCompare img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bluetooth-yes {
  background-color: #8ffc80;
}

.bluetooth-no {
  background-color: #f55959;
}

.selectInput {
  width: auto;
  height: 30px;
}

.comparisonInput {
  height: 12.5px;
}

.compareBtn {
  width: auto;
  height: 30px;
}

.compareBtn,
.comparisonInput,
.selectInput {
  margin: auto 5px;
  border-radius: 10px;
}

.compareInfo {
  text-align: left;
  margin-bottom: 10px;
}

.compareInfo h3 {
  margin: 0px;
}
