.userTable,.vehicleTable{
    width:100%;
    border: 1px solid black;
}

.confirmation > button, .confirmation > input {
    width: 5em;
    padding: 5px;
}

#deleteButton{
    background-color: red;
}

#updateButton{
    background-color: green;
    color: white;
}

.hiddenForm{
   background-color: red;
   display: none;
}