.overlay{
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navBar{
    padding-bottom: 30px;
}

.navBar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#4BC6B9;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbarLeft, .navbarRight{
    display: block;
}

.navbarLeft {
    float: left;
}

.navbarRight{
    float: right;
}

.centerNav{
    position: absolute;
    top: 0.8em;
    left: 45%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  li a:hover {
    background-color: #A79AB2;
  }

  #active{
    background-color: #B57BA6;
  }

  /*
  https://coolors.co/4bc6b9-73c1c6-96c3ce-a79ab2-b57ba6
  */